<span>Welcome {{username}}!</span>
<main class="content">
    <div class="container-fluid p-0">
        <div class="mb-3">
            <h1 class="h3 d-inline align-middle">Pricing API Configurator</h1>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">API Endpoint URL</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <input type="text" class="form-control" placeholder="API Endpoint URL">
                            </div>
                            <div class="col-4">
                                <select class="form-select mb-3">
                                    <option selected>GET</option>
                                    <option>POST</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Header Parameters</h5>
                    </div>
                    <div class="card-body">									
                        <div class="row">								
                            <div class="col-6">
                                <select class="form-select mb-3">
                                    <option selected>X-API-Host</option>
                                    <option>X-API-Key</option>
                                </select>
                                <select class="form-select mb-3">
                                    <option selected>X-API-Key</option>
                                    <option>X-API-Host</option>
                                </select>
                                
                            </div>
                            <div class="col-6">
                                <div class="mb-3"><input type="text" class="form-control" placeholder="">	</div>
                                <div><input type="text" class="form-control" placeholder=""></div>
                            </div>								
                        </div>									
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Required Parameters</h5>
                    </div>
                    <div class="card-body">									
                        <div class="row">								
                            <div class="col-6">
                                <select class="form-select mb-3">
                                    <option selected>symbol</option>
                                    <option>region</option>
                                </select>
                            </div>
                            <div class="col-6">
                                <div class="mb-3"><input type="text" class="form-control" placeholder="">	</div>
                            </div>								
                        </div>									
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Optional Parameters</h5>
                    </div>
                    <div class="card-body">									
                        <div class="row">								
                            <div class="col-6">
                                <select class="form-select mb-3">
                                    <option selected>region</option>
                                    <option>date</option>
                                </select>
                            </div>
                            <div class="col-6">
                                <div class="mb-3"><input type="text" class="form-control" placeholder="">	</div>
                            </div>								
                        </div>									
                    </div>
                </div>							
            </div>

            <div class="col-12 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Configured Endpoint(s):</h5>
                    </div>
                    <div class="card-body">
                        <div class="mt-3">
                            <ul>
                                <li> GET <a href="">https://yh-finance.p.rapidapi.com/auto-complete?q=tesla&region=US</a></li>
                                <li>GET <a href="">https://yh-finance.p.rapidapi.com/auto-complete?q=msft&region=US</a></li>
                            </ul>
                        </div>
                        <div class="text-center mt-3">
                            <a (click)='saveConfigHandler()' class="btn btn-lg btn-primary">Save Config</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
