<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="isLoggedIn()">
  <a class="navbar-brand" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Menu 1</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary btn-lg" href="#" role="button" (click)="logout()" *ngIf="isLoggedIn()">Sign Out</a>
      </li>
    </ul>
  </div>
</nav>
<p class="lead">
  <a class="btn btn-primary btn-lg" href="#" role="button" (click)="login()" *ngIf="!isLoggedIn()">Sign In</a>
</p>
<div *ngIf="isLoggedIn()"><a routerLink="admin-page">Admin Page</a>
  <app-admin-page></app-admin-page>
</div>
<h1>{{message}}</h1>
<router-outlet></router-outlet>
